extends ../layout.jade

block styles
    link(rel="stylesheet" href="/css/umbreon.css?v=1")

block body
    nav.navbar.navbar-inverse
        .container
            .navbar-header
                a.navbar-brand(href="/")
                    img(alt="Logo" title="Logo" src="/images/sitelogo.png" style="max-height: 20px;")
    .attractor
        .container
            .row
                .col-xs-12
                    .attractor-text-holder
                        h1 Welcome to Picnic&nbsp;10!
    br
    .container
        .row
            .col-md-8
                h1 Time to get started&hellip;
                h3 Please provide the installation password:
                br
                form.form-inline#installPasswordForm(method="POST")
                    //- Adds class to form-group below by class merging
                    if wrongPassword
                        - var groupClass = ['has-warning'];
                    else
                        - var groupClass = [];
                    .form-group.form-group-lg.has-feedback#password-group(class=groupClass)
                        input.form-control#password(name="password", type="password", placeholder="Password")
                        span.fa.fa-fw.fa-exclamation-triangle.form-control-feedback(aria-hidden="true")
                    | &nbsp;
                    button.btn.btn-lg.btn-primary(type="submit")
                        | Continue
                    //- Adds additional element
                    if wrongPassword
                        .help-inline.text-warning#wrongPassword
                            p That doesn't appear to be the correct password.
                p This password prevents others from starting installation until you are ready.
                br
                br
            .col-md-4.text-center
                img(alt='Picnic Logo', title='Picnic Logo', src="/images/logo256.png")
