extends ../layout.jade

block styles
    link(rel="stylesheet" href="/css/first.css?v=1")

block body
    nav.navbar.navbar-inverse
        .container
            .navbar-header
                a.navbar-brand(href="/")
                    img(alt="Logo" title="Logo" src="/images/sitelogo.png" style="max-height: 20px;")
    .attractor
        .container
            .row
                .col-xs-12
                    .attractor-text-holder
                        h1 <i class="fa fa-envelope-square"></i> Mail Call!
    br
    .container
        .row
            .col-md-8
                h1 <i class="fa fa-check"></i> The first global administrator has been created
                h3 Please check your e-mail to complete the process!
                br
                p As well as checking that the server can send e-mails okay, we also need to confirm your own e-mail address.
                p Please click on the link provided in the e-mail and you can complete setup.
            .col-md-4.text-center
                img(alt='Picnic Logo', title='Picnic Logo', src="/images/logo256.png")
